---
import Layout from '@/layouts/Layout.astro'
import { directorio } from '@/data/directorio'
import PersonCard from '@/components/ui/PersonCard.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import Mail from '@/components/icons/contact/Mail.astro'
import MapPin from '@/components/icons/contact/MapPin.astro'
import Phone from '@/components/icons/contact/Phone.astro'
---

<Layout
  title="Contactos - La UEmprende"
  description="Directorio de contactos y estructura organizacional de La UEmprende"
>
  <section class="bg-gray-50 py-16">
    <div class="mx-auto max-w-7xl px-6">
      <SectionHeader title="Directorio de Contactos" />

      {
        directorio.map(({ departamento, personal }) => (
          <div class="mb-12">
            <h2 class="text-primary mb-6 text-xl font-bold uppercase">
              {departamento}
            </h2>

            <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
              {personal.map((persona) => (
                <PersonCard {...persona} />
              ))}
            </div>
          </div>
        ))
      }

      <!-- Información de contacto general -->
      <div class="mt-8 rounded-xl bg-white p-8 shadow-md">
        <h2 class="text-primary mb-8 text-center text-2xl font-bold">
          Información de Contacto General
        </h2>
        <div class="grid gap-8 md:grid-cols-3">
          <div class="text-center">
            <div
              class="text-primary mx-auto mb-3 flex h-16 w-16 items-center justify-center rounded-full bg-blue-50"
            >
              <MapPin />
            </div>
            <p class="mb-2 text-sm font-bold text-gray-800">Dirección</p>
            <p class="text-sm text-gray-600">
              Ibarra, Velasco 2-39 entre Salinas y Juan Montalvo
            </p>
          </div>

          <div class="text-center">
            <div
              class="text-primary mx-auto mb-3 flex h-16 w-16 items-center justify-center rounded-full bg-blue-50"
            >
              <Phone />
            </div>
            <p class="mb-2 text-sm font-bold text-gray-800">Teléfono</p>
            <p class="text-sm text-gray-600">+593 06 2997800 Ext: 7351</p>
          </div>

          <div class="text-center">
            <div
              class="text-primary mx-auto mb-3 flex h-16 w-16 items-center justify-center rounded-full bg-blue-50"
            >
              <Mail />
            </div>
            <p class="mb-2 text-sm font-bold text-gray-800">Email</p>
            <p class="text-sm text-gray-600">gerencia@lauemprende.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
