---
import '@/styles/global.css'
import Header from '@/components/common/Header.astro'
import Footer from '@/components/common/Footer.astro'
import PageCounter from '@/components/ui/PageCounter.astro'

interface Props {
  title?: string
  description?: string
}

const { title = 'La UEmprende', description = 'La UEmprende' } = Astro.props
const currentPath = Astro.url.pathname
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body>
    <Header />

    <main class="pt-16">
      <slot />
      <PageCounter pagePath={currentPath} />
    </main>

    <Footer />
  </body>
</html>
