---
interface Props {
  label: string
  value: string
}

const { label, value } = Astro.props
---

<div class="text-center">
  <div
    class="bg-primary/5 text-primary mx-auto mb-4 flex h-14 w-14 items-center justify-center rounded-xl"
  >
    <slot />
  </div>
  <p class="text-primary mb-1.5 font-display text-sm font-normal">{label}</p>
  <p class="text-sm text-text-secondary">{value}</p>
</div>
